/* Mobile View */
html{
  scroll-behavior: smooth;
}

.skip {
  color: blue;
  background-color: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}

a:visited {
  color: blue;
}

.skip:focus {
  position: absolute;
  top: 0px;
}

.nav_item a, .nav_item a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: grey;
}

body {
  background-color: black;
  font-family: "Noto Sans", serif;
  font-size: 18px;
  color: white;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

li {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 3px;
  border: 2px black solid;
  border-radius: 5px;
}

#nav_about li:first-child {
  padding: 8px;
  border-color: #bb0b05;
  font-size: 20px;
}

#nav_hero li:nth-child(2) {
  padding: 8px;
  border-color: #bb0b05;
  font-size: 20px;
}

#nav_esports li:nth-child(3) {
  padding: 8px;
  border-color: #bb0b05;
  font-size: 20px;
}

#nav_international li:nth-child(4) {
  padding: 8px;
  border-color: #bb0b05;
  font-size: 20px;
}

header > img {
  width: 80px;
}
/* nav end */

/* CSS for the about page */

#aboutheader {
  background-attachment: fixed; /* Parallax effect */
  background-position: center; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  color: white;
  height: 300px; /* Parallax effect */
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/header_background.jpeg");
  background-repeat: no-repeat;

  /*
  background-size: cover;
  color: white;
  height: 50vw;
  min-height: 280px;
  max-height: 650px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/header_background.jpeg");
  background-repeat: no-repeat;
  justify-content: center;
*/
}

h1 {
  font-size: 40px;
  text-align: center;
  flex-grow: 0.3;
  padding-top: 75px;
}

.main header p {
  margin-top: 4vh;
  text-align: center;
  margin-left: 2vw;
  margin-right: 2vw;
  flex-grow: 1;
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.gradient {
  background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0));
}

.content img {
  height: 60vw;
  width: 100vw;
  mix-blend-mode: overlay;
}

.content h2 {
  text-align: center;
  font-size: 40px;
}

.content p {
  font-size: 18px;
  text-align: center;
  color: #ebdec2;
  line-height: 23px;
  padding: 3vw 30px 5vw 30px;
}
/* Ending CSS for the about page */


/* CSS for the hero page */
#heroheader {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/hero_header.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
  min-height: 250px;
  max-height: 650px;
  justify-content: center;
}

#heroes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

label img {
  width: 23vw;
  min-width: 200px;
  height: 40vw;
  min-height: 280px;
  padding: 2vw;
  border-radius: 20px 20px 20px 20px;
}

#heroes p {
  font-size: 7vw;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

label {
  overflow: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  min-width: 200px;
  height: 40vw;
  min-height: 300px;
}

.card {
  transform-style: preserve-3d;
  transition: all 600ms;
}

.card div {
  text-align: center;
  backface-visibility: hidden;
  border-radius: 2px;
  font-size: 3vw;
}

.card .back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: black;
  color: #FFF;
  transform: rotateX(180deg);
  width: 30vw;
  min-width: 200px;
  height: 40vw;
  min-height: 300px;
}

#heroes .back p {
  font-size: 2vh;
  vertical-align: center;
  padding: 0 1vw 0 1vw;
  line-height: 5vh;
}

input {
  display: none;
}

:checked + .card {
  transform: rotateX(180deg);
}

/* Define the keyboard focus */
.card:focus-visible {
  transform: rotateX(180deg);
}

/* Define the mouse focus */
:checked + .card:focus:not(:focus-visible)  {
  transform: rotateX(180deg);
}

/* Ending CSS for the hero page */

/* CSS for the esports page. */
#esportsheader {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/esports_header.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
  min-height: 280px;
  max-height: 650px;
  justify-content: center;
}

#esports {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
}

.team {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.7fr 1fr 1fr 1fr;
  margin: 10px;
  height: 300px;
  border: 5px solid white;
  border-radius: 6px;
}

.team img {
  height: 75px;
  width: 28vw;
}

.team h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4vh;
  padding: 5px;
}

.team h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
}

.team p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
  border-left: 2px solid white;
  padding: 10px;
  word-break: break-all;
  font-size: 18px;
}

/* Ending CSS for the esports page */


/* CSS for the international page */
#internationalheader {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/inter_header.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
  min-height: 280px;
  max-height: 650px;
  justify-content: center;
}

#international {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.competition {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 400px;
  padding: 10px 15px 10px 15px;
  margin: 18px 10px 18px 10px;
  border: #85837f solid 5px;
  border-radius: 10px;
}

.competition p {
  overflow-y: scroll;
  line-height: 25px;
}

.competition h2 {
  text-align: center;
  font-size: 27px;
  padding: 10px 5px 10px 5px;
}

#international img {
  width: 100%;
  height: 180px;
}
/* Ending CSS for the international page */

footer p{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
  justify-content: center;
  font-size: 13px;
}
/* End mobile view */

/* Tablet View */
@media screen and (min-width: 800px){
  body {
    font-size: 23px;
  }

  /* nav links */

  .nav_links {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
  }

  /* About page */

  h1 {
    font-size: 50px;
    padding-top: 130px;
  }

  .main header p {
    padding: 30px;
    font-size: 23px;
  }

  .content p {
    padding-top: 5vw;
  }

  /* Esports page */

  #esports {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
  }

  .team {
    margin: 15px;
  }

  .team h2 {
    font-size: 25px;
  }

  .team img {
    height: 12vw;
    width: 20vw;
  }

  /* International page */
  .competition p {
    font-size: 18px;
  }

  .competition h2 {
    padding: 10px 5px 10px 5px;
    font-size: 30px;
  }

  footer p{
    padding-top: 35px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1000px){


}

@media screen and (prefers-reduced-motion: reduce){
  #aboutheader {
    background-attachment: initial;
  }

  .skip {
    transition: initial;
  }

  .card {
    transition: initial;
  }

}


